<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.eden.exam.mapper.ExamInfoMapper">

    <resultMap id="BaseResultMap" type="com.upc.eden.commen.domain.exam.ExamInfo">
            <id property="examId" column="exam_id" jdbcType="INTEGER"/>
            <result property="subjectId" column="subject_id" jdbcType="INTEGER"/>
            <result property="paperId" column="paper_id" jdbcType="INTEGER"/>
            <result property="examName" column="exam_name" jdbcType="VARCHAR"/>
            <result property="examNote" column="exam_note" jdbcType="VARCHAR"/>
            <result property="invigilatorId" column="invigilator_id" jdbcType="INTEGER"/>
            <result property="durationTime" column="duration_time" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="allowableTime" column="allowable_time" jdbcType="INTEGER"/>
            <result property="noticeWay" column="notice_way" jdbcType="INTEGER"/>
            <result property="word" column="word" jdbcType="VARCHAR"/>
            <result property="cuttingTimes" column="cutting_times" jdbcType="INTEGER"/>
            <result property="isPublic" column="is_public" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        exam_id,subject_id,paper_id,
        exam_name,exam_note,invigilator_id,
        duration_time,start_time,deadline,
        allowable_time,notice_way,word,
        cutting_times,is_public
    </sql>
</mapper>
