<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.eden.exam.mapper.StuExamMapper">

    <resultMap id="BaseResultMap" type="com.upc.eden.commen.domain.exam.StuExam">
            <id property="examineeId" column="examinee_id" jdbcType="INTEGER"/>
            <id property="examId" column="exam_id" jdbcType="INTEGER"/>
            <id property="details" column="details" jdbcType="INTEGER"/>
            <id property="presentTime" column="present_time" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="totalScore" column="total_score" jdbcType="INTEGER"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="submitTime" column="submit_time" jdbcType="TIMESTAMP"/>
            <result property="cuttingTime" column="cutting_time" jdbcType="INTEGER"/>
            <result property="cheat" column="cheat" jdbcType="INTEGER"/>
            <result property="totalCuttingTime" column="total_cutting_time" jdbcType="INTEGER"/>
            <result property="undetectedTime" column="undetected_time" jdbcType="INTEGER"/>
            <result property="leaveTimes" column="leave_times" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        examinee_id,exam_id,details,
        present_time,status,total_score,
        start_time,submit_time,cutting_time,
        cheat,total_cutting_time, undetected_time,leave_times
    </sql>
</mapper>
