<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upc.eden.user.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.upc.eden.commen.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <id property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
            <result property="userRealName" column="user_real_name" jdbcType="VARCHAR"/>
            <result property="userUniv" column="user_univ" jdbcType="VARCHAR"/>
            <result property="userUnit" column="user_unit" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_name,password,
        user_status,user_real_name,user_univ,
        user_unit
    </sql>
</mapper>
